{% extends 'base.html' %}

{% load static %}
{% block title %}Друзья {{ user.first_name }} {{ user.last_name }}{% endblock %}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'friends/css/friends-form.css' %}">
{% endblock %}

{% block main %}
    <div class="friends-list-wrapper">
        <div>
            <form class='friends-search-form' method="get">
                <div>
                    {{ form.to_search.errors }}
                    {{ form.to_search }}
                </div>
                <button type="submit" class="btn-reset btn-search">Поиск</button>
            </form>
        </div>
        <div>
            <h2 class="friends-h2-title">Мои друзья</h2>
            {% if friends %}
                <ul class="list-reset friends-list">
                    {% for row in friends %}
                        <li class="friends-li">
                            <a href="{% url 'friends:profile' row.friend.pk %}" class="friends-li-fullname">
                                <div>{{ row.friend.get_full_name }}</div>
                                <div>{{ row.friend.get_age }} лет</div>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                Друзей не найдено.
            {% endif %}
        </div>
        {% if new_users %}
            <div>
                <h2 class="friends-h2-title">Возможные друзья</h2>
                <ul class="list-reset friends-list">
                    {% for nu in new_users %}
                        <li class="friends-li">
                            <a href="{% url 'friends:profile' nu.pk %}" class="friends-li-fullname">
                                <div>{{ nu.get_full_name }} | {{ nu.username }}</div>
                                <div>{{ nu.get_age }} лет</div>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
{% endblock %}
{% block footer %}{% endblock %}
{% block after-footer-scripts %}{% endblock %}

