{% extends 'base.html' %}

{% load static %}
{% block title %}Чаты {{ user.get_full_name }}{% endblock %}
{% block styles %}{% endblock %}

{% block main %}
    <div>
        {% if chats %}
            {% load messanger_extras %}
            {% for chat in chats %}
                <li>
                    <a href="{% url 'messanger:chat' room_name=chat.user.id|cat_room_name:chat.friend.id %}">
                        {{ chat.friend.get_full_name }}
                    </a>
                </li>
            {% endfor %}
        {% else %}
            <a href="{% url 'friends:friends-list' %}">Найдите</a> себе друзей и начните общаться!
        {% endif %}
    </div>
{% endblock %}