{% extends 'base.html' %}
{% load static %}
{% block title %}Чат с {{ receiver.friend.get_full_name }}{% endblock %}
{% block styles %}{% endblock %}

{% block main %}
    <div>
        {% if message_history %}
            <ul class="list-reset" id="chat-log">
                {% for msg in message_history %}
                    {% if msg.sender_id.id == request.user.id %}
                        <li><b>Вы</b>: {{ msg.content }}</li>
                    {% else %}
                        <li><b>{{ msg.sender_id.get_full_name }}</b>: {{ msg.content }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% else %}
            Отправьте первое сообщение!
        {% endif %}

        {#        <textarea cols="80" rows="20" id="chat-log" readonly>#}
        {#{% if message_history %}#}
        {#    {% for msg in message_history %}#}
        {#        {{msg.sender_id.get_full_name }}: {{ msg.content }}#}
        {#    {% endfor %}#}
        {#{% else %}#}
        {#    Отправьте первое сообщение!#}
        {#{% endif %}</textarea>#}
    </div>
    <div>
        <input id="chat-message-input" type="text" size="80" placeholder="Напишите сообщение...">
        <input id="chat-message-submit" type="button" value="send">
    </div>
    {{ room_name|json_script:"room-name" }}
    {{ sender.user.get_full_name|json_script:"full_name" }}
    {{ sender.user.id|json_script:"sender_id" }}
    {{ receiver.user.id|json_script:"receiver_id" }}
    {{ request.user.id|json_script:"user_id" }}
    {#    {% if request.user.id == receiver.id %}#}
    {#        {{ "Вы"|json_script:"username" }}#}
    {#    {% else %}#}
    {#    {% endif %}#}


    <div>Это чат с {{ receiver.friend.get_full_name }}</div>

    <script>
        const room_name = JSON.parse(document.getElementById("room-name").textContent);
        const full_name = JSON.parse(document.getElementById("full_name").textContent);
        const sender_id = JSON.parse(document.getElementById("sender_id").textContent);
        const receiver_id = JSON.parse(document.getElementById("receiver_id").textContent);
        const user_id = JSON.parse(document.getElementById("user_id").textContent);
        const chatSocket = new WebSocket(
            "ws://"
            + window.location.host
            + "/ws/chat/"
            + room_name
            + "/"
        );

        chatSocket.onmessage = function (e) {
            const data = JSON.parse(e.data);
            let li = document.createElement("li");
            if (data.sender_id === user_id) {
                li.appendChild(document.createTextNode("Вы" + ": " + data.message));
                {#document.querySelector('#chat-log').value += ("Вы: " + data.message + '\n');#}
            } else {
                li.appendChild(document.createTextNode(full_name + ": " + data.message));
                {#document.querySelector('#chat-log').value += (full_name + ": " + data.message + '\n');#}
            }
            document.querySelector('#chat-log').appendChild(li);
        }

        chatSocket.onclose = function (e) {
            console.error('socker closed unexpectedly');
        }

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function (e) {
            if (e.keyCode === 13) {
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function (e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message,
                'sender_id': sender_id,
                'receiver_id': receiver_id,
            }));
            messageInputDom.value = '';
        }
    </script>
{% endblock %}

{% block after-footer-scripts %}

{% endblock %}
